 Byte-compiled / optimized / DLL files
*.pyc

# IDEs and editors
.vscode

# Git backup files
.gitignore~

# Build and distribution
build
ckan_client.egg-info
dist


# Python environments
.venv

# Code quality tools
.ruff_cache/